body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

#about {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
    /* max-height: 350px; */
}

#jobs {
    max-width: 1040px;
    margin: 0px auto;
}

.about-style {
    line-height: 34px;
    font-size: 16px;
    margin-top: 0;
    max-height: 100%;
}

#about-info {
    width: 60%;
    padding-right: 40px;
    /* background-color: aqua; */
}

#sub-banner {
    width: 40%;
    
    /* object-fit: cover; */
    
}

.banner-img {
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#logo {
    height: 30px;
    display: flex;
    margin: auto;
}

#navbar {
    padding: 10px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: rgb(14, 14, 253);
    font-family: helvetica;
}

#banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.location {
    color: gray;
    font-family: helvetica;
    margin-bottom: 10px;
    /* margins do/esnt work for spans  */

}

.job-role {
    margin-bottom: 0px;
    margin-top: 0px;
}

.apply {
    float: right;
}

a {
    text-decoration: none;
}

#footer {
    background-color: rgb(233, 233, 255);
    padding: 10px;
    text-align: center;
}

#footer-list {
    list-style: none;
    text-align: center;
}

#footer-list li {
    display: inline;
    margin: 10px;
}

.copy-right {
    color: gray;
}
#practice{
   display: flex;
   max-width: 1040px;
   margin: 20px auto;
   height: 300px;
}
#image{
    width: 40%;
    /* background-color: rgb(255, 158, 41); */

    

}
#Context{
    width: 60%;
    padding-right:40px;
    /* background-color: aqua; */
    font-size: 16px;
}
.context-img{
    width: 100%;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}
.context-style{
    line-height: 34px;
}
span{
    font-size: 24px;
}